@use "../../assets/sass/_variables.scss" as *;

*{
    font-size: 1.1rem;
}

.team {
   display: flex;
   flex-wrap: wrap;
  }

  .team-info {
    text-align: left;
    background-color: $color-secondary;
    width: 300px;
    height: 600px;
    border: 1px solid $color-black;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
  }

  .counter{
    text-align: center;
    background-color: $color-primary;
    border: 1px solid $color-black;
    margin: 0 20px;
    position: relative;
    top: 50px;
    width: 250px;
    height: 350px;
    border-radius: 15px;
}